:root {
    --clr-starter: #B27D27;
    --clr-main-course: #B22751;
    --clr-dessert: #B22728;
    --clr-breakfast: #2789B2;
    --clr-ideas: #6DB227;
    --clr-about-me: #7E27B2;
    --pd-frame: 150px;
    --wd-gallery-img: 350px;
}

body, html {
    margin: 0;
    text-align: center;
    position: relative;
}

.page-title {
    font-family: 'Allura', cursive;
    font-size: 60px;
    font-weight: normal;
    color: white;
    padding-top: 40px;
    margin: 0;
}

.background {
    background-image: url('assets/homeBackground.jpg');
    height: 1200px;
}

.shadow {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: rgba(252, 252, 252, 0.02);
    box-shadow: inset 0px -200px 200px rgba(0, 0, 0, 0.9), inset 0px 300px 200px rgba(0, 0, 0, 0.9);
}

.navbar {
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: default;
}

.navbar .nav-item {
    display: inline-block;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-left: 30px;
    margin-right: 30px;
    transition: transform 100ms linear, color 100ms linear;
}

.navbar .nav-item:hover {
    transform: scale(1.1);
}

.nav-item.starter:hover {
    color: var(--clr-starter);
}

.nav-item.main-course:hover {
    color: var(--clr-main-course);
}

.nav-item.dessert:hover {
    color: var(--clr-dessert);
}

.nav-item.breakfast:hover {
    color: var(--clr-breakfast);
}

.nav-item.ideas:hover {
    color: var(--clr-ideas);
}

.nav-item.about-me:hover {
    color: var(--clr-about-me);
}

.page-subtitle {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    color: white;
    margin-top: 150px;
    margin-bottom: 0;
}

.gallery-wraper {
    display: flex;
    justify-content: space-between;
    max-width: 1155px;
    min-width: 1110px;
    margin: auto;
}

.gallery {
    background-color: white;
    height: 300px;
    margin-top: 250px;
    padding-left: var(--pd-frame);
    padding-right: var(--pd-frame);
}

.gallery-item-image {
    height: 180px;
    width: 270px;
    margin-top: 40px;
}

.item-category {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    font-size: 16px;
    color: var(--clr-main-course);
    margin-top: 10px;
}

.item-name {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    word-wrap: normal;
}

.footer {
    background-color: black;
    height: 80px;
    position: absolute;
    bottom: 0;
    top: 100%;
    width: 100%;
    color: white;
}